
body {
	font-family: 'Raleway', sans-serif;
	background-color:#FFFFFF;
	text-align: left;
	margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    min-width: 720px;
    margin: 0 auto;
}

h1 {
	text-align: center;
	color: black;
}

h2 {
	text-align: center;
	color:black;
}
h3 {
	font-style: bold;
}

p {
	font-size: 18px;
}

div {
	font-size: 18px;
	color:black;
}

div#top {
	margin-top: 15px;
	margin-bottom: 70px;
	padding: 5px, 5px, 5px, 5px;
}
div#pic {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}
div.rest {
	clear: both;
}
div.banner  {
	margin:auto;
}
div#summary {
	margin-top:10px;
	margin-bottom:10px;
	padding: 5px, 5px, 5px, 5px;
}
div#oklahomapic {
	padding-right: 10px;
}
div#oklahoma_info {
	width: 50%;
	float: left;

}
div.fb-page {
	float: left;
	width: 30%;
	background-color:purple;
}

ul {
	list-style-type: none;
	margin-top:10px;
	padding-top: 50px;
	overflow:hidden;
}
 ul.abt {
 list-style-type: disc;
 font-size: 20px;
 }
li {
	float:left;
	font-size: 16px;
}
li a {

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
        text-decoration: underline;
}
div#footer {
clear: left;
position: absolute;
bottom: 0;
right: 0;
width:100%;
height: 40px;
background-color: #70B352;
color: #70B352;
}
